body {
    background-image: url(../images/wallpaper2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

img {
    width: 700px;
}

#introCard {
    color: #fff;
    font-size: 30px;
    margin: 30px 0;
    background-color: transparent;
    text-align: center;
}

#introSection {
    margin-top: 40px;
    margin-bottom: 50px;
    /*text-align: center;*/
    /*background-color: grey;*/
    background: rgba(0,0,0,.5);
    padding: 30px;
    padding-bottom: 70px;
}

span{
    font-family: 'Tangerine', cursive;
    font-size: 56px;
}


/*Button*/

#buttonRow {
    margin-top: 130px;
}

#startButton {
    border-radius: 6px;
    border: #fff 4px solid;
    line-height: 45px;
    width: 150px;
    color: #fff;
    font-size: 18px;
    background: rgba(0,0,0,.6);
    padding: 5px;
}

#startButton:hover {
    color: #f1c40f;
    border: #f1c40f 4px solid;
}

#resetButton {
    border-radius: 6px;
    border: #fff 4px solid;
    line-height: 45px;
    width: 150px;
    color: #fff;
    font-size: 18px;
    background: rgba(0,0,0,.6);
    padding: 5px;
}

#resetButton:hover {
    color: #f1c40f;
    border: #f1c40f 4px solid;
}


/*Questions*/

#questionSpace {
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    width: 1000px;
    height: 500px;
}

#question {
    font-size: 37px;
    text-align: center;
    /*background: rgba(0,0,0,.5);*/
}

#timer {
    color: #e74c3c;
    font-size: 47px;
    text-align: center;
}


/*Answers*/

#choices {
    font-size: 23px;
    background: rgba(0,0,0,.5);
    margin-bottom: 100px;
}

.pickAnswer {
    border: solid 5px #fff;
}

.pickAnswer, .pickAnswer:hover {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border-radius: 6px;
}

.pickAnswer:hover {
    border: solid 5px #f1c40f;
    cursor: pointer;
}

/*Game Message*/
#gameMessage{
    text-align: center;
    font-size: 52px;
}